@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 100px;
}

#wordbank {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}
.card {
  width: 300px;
  margin: 5px;
 justify-content: center;
 display: flex;
 flex-wrap: wrap;
}

.logout {
  margin: 0 40px;
  font-size: 25px;
  color: white;
}

.filter-btns {
  display: flex;
  justify-content: center;
  gap: 100px;
}